<p id="notice"><%= notice %></p>

<p>
  <b>Nombre:</b>
  <%= @datos_contacto.nombre %>
</p>

<p>
  <b>Apellido:</b>
  <%= @datos_contacto.apellido %>
</p>

<p>
  <b>Telefono:</b>
  <%= @datos_contacto.telefono %>
</p>

<p>
  <b>Direccion:</b>
  <%= @datos_contacto.direccion %>
</p>

<p>
  <b>Movil:</b>
  <%= @datos_contacto.movil %>
</p>

<p>
  <b>Email:</b>
  <%= @datos_contacto.email %>
</p>


<%= link_to 'Editar', edit_datos_contacto_path(@datos_contacto) %> |
<%= link_to 'Atras', datos_contactos_path %>
