<header id="pablo" class="box">
</header>
 <header class="box">
   <div id="uno">
     <p><b>EFFECTUAL PRODUCTION	<%= image_tag('logo.png') %></div></b></p> 
 </header>
	
 <header id="juan" class="box">

 </header>

 <header id="main" class="box">
   <table id="butto">
    <th><button class="box"><font size="6"><%= link_to 'Inicio', principal_index_path%></font></button></th>            
   <th><button class="box"><font size="6"><%= link_to 'Ayuda', ayuda_index_path %></font></button></th> 
  <th><button class="box"><font size="6"><%= link_to 'Acerca', acerca_index_path %></font></button></th> 
    <th><button class="box"><font size="6"><%= link_to 'Entrar', iniciar_index_path %></font></button></th>
</table>
 </header>
 <section id="sidebar" class="box">
    	<div id="modu">
    	<br><br><br><br><br>
    	<button class="box"><font size="8"><font color="white"> <%= link_to 'Productos', productos_index_path %></font></font></button>
    	<br><br><br><br><br><br><br><br><br>
    	<button class="box"><font size="8"><font color="white"><%= link_to 'Diseño', diseno_index_path %></font></font></button>
    	<br><br><br><br><br><br><br><br><br><br>
        <button class="box"><font size="8"><font color="white"><%= link_to 'Contactenos', contactenos_index_path %></font></font></button>
       </div>
       
