<%= form_for(@produccion) do |f| %>
  <% if @produccion.errors.any? %>
    <div id="error_explanation">
      <h2>No se puede Guardar <%= pluralize(@produccion.errors.count, "error") %> encontrados:</h2>

      <ul>
      <% @produccion.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :fecha_envio %><br />
    <%= f.date_select :fecha_envio %>
  </div>
  <div class="field">
    <%= f.label :fecha_llegada %><br />
    <%= f.date_select :fecha_llegada %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
