<h1>Lista de Fechas de Produccion</h1>

<table>
  <tr>
    <th>Fecha envio</th>
    <th>Fecha llegada</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @produccions.each do |produccion| %>
  <tr>
    <td><%= produccion.fecha_envio %></td>
    <td><%= produccion.fecha_llegada %></td>
    <td><%= link_to 'Mostrar', produccion %></td>
    <td><%= link_to 'Editar', edit_produccion_path(produccion) %></td>
    <td><%= link_to 'Eliminar', produccion, method: :delete, data: { confirm: 'Esta Seguro?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'Nuevo', new_produccion_path %>
