<header id="pablo" class="box">
</header>
 <header class="box">
   <div id="uno">
     <p><b>EFFECTUAL PRODUCTION	<%= image_tag('logo.png') %></div></b></p> 
 </header>
	
 <header id="juan" class="box">

 </header>

 <header id="main" class="box">
   <table id="butto">
    <th><button class="box"><font size="6"><%= link_to 'Inicio', principal_index_path%></font></button></th>            
   <th><button class="box"><font size="6"><%= link_to 'Ayuda', ayuda_index_path %></font></button></th> 
  <th><button class="box"><font size="6"><%= link_to 'Acerca', acerca_index_path %></font></button></th> 
    <th><button class="box"><font size="6"><%= link_to 'Entrar', iniciar_index_path %></font></button></th>
</table>
 </header>
 <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>

<button id="atr" class="box"><%= link_to 'Atras', principal_index_path %></button></center>
