<head>
  <title>EFFECTUAL PRODUCTION</title>
		
</head>
<body>
 <header id="pablo" class="box">
 </header>
 <header class="box">
   <div id="uno">
     <p><b>EFFECTUAL PRODUCTION	<%= image_tag('logo.png') %></div></b></p> 
 </header>
	
 <header id="juan" class="box">

 </header>

 <header id="main" class="box">
   <table id="butto">
    <th><button class="box"><font size="6"><%= link_to 'Inicio', inicio_index_path%></font></button></th>            
   <th><button class="box"><font size="6"><%= link_to 'Ayuda', ayuda_index_path %></font></button></th> 
  <th><button class="box"><font size="6"><%= link_to 'Acerca', acerca_index_path %></font></button></th> 
    <th><button class="box"><font size="6"><%= link_to 'Salir', principal_index_path %></font></button></th>
</table>
 </header>
 <section id="sidebar" class="box">
    	<div id="modu">
    	<br>
    	<br>
    	<br>
    	<br>
    	<br>
    	<button class="box"><font size="8"><a href="http://localhost:3000/nota"><font color="white">Nota</font></a></font></button>
    	<br>
    	<br>
    	<br>
    	<br>
    	<br>
    	<br>
    	<button class="box"><font size="8"><a href="http://localhost:3000/datos_contactos"><font color="white">Solicitud</font></a></font></button>
    	<br>
    	<br>
    	<br>
    	<br>
    	<br>
    	<button class="box"><font size="8"><a href="http://localhost:3000/registro_compras"><font color="white">Registros</font></a></font></button>
    </div>
    	<br>
    	<br>
    	<br>
    	<br>
    	<br>
    	<p><b><font size="6">Usuario: </font></b></p>
    	<div id="p"><b><font size="6">Cristian</font></b></p></div>
	</section>
	<br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
	<div id="b"><p><b>Effectual Producction</b></p></div>
	<br>
	<br>
	<div id="tex"><p><b>Esta Aplicación esta centrada en el Proceso de control de Producción del Centro de confección y moda (SENA), y por esta razón constará de cuatro (4) Módulos, con diversas funciones para llevar a cabo la sistematización de procesos en la parte del control de la producción, como los son los pedidos, el control de pedidos de los clientes, el control de productos  terminados, etc. Y también con el fin de agilizar y llevar a cabo una eficiencia en el control de ésta, haciendo más fácil y posible la organización de los métodos y tiempos utilizados en este ámbito de la producción. Un módulo adicional se integrará para garantizar la seguridad del sistema, este es el Modulo de Ingreso y Administrador.<br><br>

	Es conveniente afirmar que el alcance de este proyecto que se centra en el control de producción, tiene objetivos directos de mejorar los métodos del ingreso de la información en formatos a diligenciar para obtener y guardar información detallada de los procesos que se involucran en las etapas de producción del centro de confección y moda SENA.
	</b></p></div>




		
<footer class="box">
	<p>HECHO POR ADSI-323921</p>
</footer>
</body>
</html>
