<%= form_for(@tipo) do |f| %>
  <% if @tipo.errors.any? %>
    <div id="error_explanation">
      <h2>No se puede Guardar <%= pluralize(@tipo.errors.count, "error") %> encontrados:</h2>

      <ul>
      <% @tipo.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :nombre %><br />
    <%= f.text_field :nombre %>
  </div>
  <div class="field">
    <%= f.label :sigla %><br />
    <%= f.text_field :sigla %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
