<h1>Lista de Fechas de Estampados</h1>

<table>
  <tr>
    <th>Fecha envio</th>
    <th>Fecha llegada</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @estampados.each do |estampado| %>
  <tr>
    <td><%= estampado.fecha_envio %></td>
    <td><%= estampado.fecha_llegada %></td>
    <td><%= link_to 'mostrar', estampado %></td>
    <td><%= link_to 'Editar', edit_estampado_path(estampado) %></td>
    <td><%= link_to 'Eliminar', estampado, method: :delete, data: { confirm: 'Estas Seguro?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'Nuevo', new_estampado_path %>
