<head>
<title>EFFECTUAL PRODUCTION</title>

	</head>
	<body>
	<header id="pablo" class="box">
	</header>
	
	  <header class="box">
				<div id="uno">
					<p><b>EFFECTUAL PRODUCTION	<%= image_tag('logo.png')%></div></b></p> 
   		</header>
	
   	<header id="juan" class="box">
	</header>
	<header id="main" class="box">
		<table id="butto">
		<th><button class="box"><font size="6"><%= link_to 'Inicio', principal_index_path%></font></button></th>            
		<th><button class="box"><font size="6"><%= link_to 'Ayuda', ayuda_index_path %></font></button></th> 
		<th><button class="box"><font size="6">Acerca</font></button></th> 
		<th><button class="box"><font size="6"><%= link_to 'Atras', principal_index_path %></font></button></th>
		</table>
    </header>
    <br><br><br><br><br><br> <br><br><br><br> <br><br> <br><br><br> <br> <br> <br>
   <div id="ini"><p>Iniciar sesion</p></div>
   <div id="cuer" class="box"></div>
   <div id="usu"><p style="margin-left: 10pt;"><font color="white"> Usuario: 
   <input style="margin-left: 38pt;" type="text" name="nom1" value=""></font></p></div>
     <br><br><br><br><br><br<br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br> <br><br>
   <div id="con"><p style="margin-left: 10pt;"><font color="white"> Contraseña: 
   <input style="margin-left: 38pt;" type="password" name="nom1" value=""></font></p></div>
   <br><br><br><br><br><br><br><br>
   <button id="bu" class="box"><%= link_to 'Entrar', inicio_index_path %></button>
   <div id="cla"><p><b>Clave Olvidada</b></p></div>
	
	<footer class="box">
			<p>HECHO POR ADSI-323921</p>
	</footer>
</body>
</html>
