<header id="pablo" class="box">
</header>
 <header class="box">
   <div id="uno">
     <p><b>EFFECTUAL PRODUCTION	<%= image_tag('logo.png') %></div></b></p> 
 </header>
	
 <header id="juan" class="box">

 </header>

 <header id="main" class="box">
   <table id="butto">
    <th><button class="box"><font size="6"><%= link_to 'Inicio', principal_index_path%></font></button></th>            
   <th><button class="box"><font size="6"><%= link_to 'Ayuda', ayuda_index_path %></font></button></th> 
  <th><button class="box"><font size="6"><%= link_to 'Acerca', acerca_index_path %></font></button></th> 
    <th><button class="box"><font size="6"><%= link_to 'Entrar', iniciar_index_path %></font></button></th>
</table>
 </header>
 <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
<div id="p"><p><b>INFORMACCION</b></p></div><br>
<p id="te"><b>Centro de Formacion en Diseño Confeccion y Moda.<br><br>Encargada: Luz Dary Cano<br><br>Direccion: Calle 63Nª 58B - 03<br><br>Conmutador: 51492902<br><br>Ip: 43119-43100<br><br>Fax: 3717896<br><br>Itagui-Colombia</b></p>
<br><br><br><br>
<button id="atr" class="box"><%= link_to 'Atras', principal_index_path %></button></center>
