<header id="pablo" class="box">
</header>
 <header class="box">
   <div id="uno">
     <p><b>EFFECTUAL PRODUCTION	<%= image_tag('logo.png') %></div></b></p> 
 </header>
	
 <header id="juan" class="box">

 </header>

 <header id="main" class="box">
   <table id="butto">
    <th><button class="box"><font size="6"><%= link_to 'Inicio', inicio_index_path%></font></button></th>            
   <th><button class="box"><font size="6"><%= link_to 'Ayuda', ayuda_index_path %></font></button></th> 
  <th><button class="box"><font size="6"><%= link_to 'Acerca', acerca_index_path %></font></button></th> 
    <th><button class="box"><font size="6"><%= link_to 'Salir', principal_index_path %></font></button></th>
</table>
 </header>
 <br><br><br> <br><br><br> <br><br><br> <br><br><br> <br><br><br> <br><br><br> <br><br><br>
 <div id="cuerpo">
  <p><b>saddhuiyuidcuildxycuidxclhsduisdysduoashjkcxcbsdysdlsdisdsuidhysdus.<br>dshudisdhsdlhsuddd78asdw8dasdiw8dasioda8duw9dadschsuiadsasyodsadsapdsdyusuidsdusyadsdyusiodysudspds.<br>dsiodusodsidsdisduosdusdsodiosudiosdiosdiosidosidsopdspdsidspoudispdusipodusdsidospudisduiodpsidusi.<br>opudiopsdsadiopasopdopsaduasdioasudasopdoiduiopsaduopsapduiopsduio.<br>psuopdiosadopsadiopiodpaspodpasuduasopdopdopasdoposdaoasdopsadopasduosadiopusadiosaduiopasduioasdui.<br>osauiodsa89d7 w78qewesdasidhcjxzjkhasiduasiodyuqw89asuioduiasodyasdysadasuidyuasiduisadyuasuidsuidsu.<br>iaduisduiasduisduisauidasuisduiaduiasuisauisauisduiaasuiasduisudsuiayuasdggdasdsjajksdsauid7qw789w8.<br>9ew89asdhusahdsuadassuusadusayuiasuisui.<br>oauisauisaasdasdsuiaxchizjchasuduasd.<br>as8d7qw889awedasd8wa8qw88asudasuidui.<br>asduisaduisauidsuiaoduiossuidsuioaduioasduioasdioasuio.<br>dsuioaduiosuiosuiodasuioasd.</b></p>
 </div>
<footer class="box">
<p>HCHO POR ADSI-323921</p>
</footer>