</header>
 <header class="box">
   <div id="uno">
     <p><b>EFFECTUAL PRODUCTION	<%= image_tag('logo.png') %></div></b></p> 
 </header>
	
 <header id="juan" class="box">

 </header>

 <header id="main" class="box">
   <table id="butto">
    <th><button class="box"><font size="6"><%= link_to 'Inicio', inicio_index_path%></font></button></th>            
   <th><button class="box"><font size="6"><%= link_to 'Ayuda', ayuda_index_path %></font></button></th> 
  <th><button class="box"><font size="6"><%= link_to 'Acerca', acerca_index_path %></font></button></th> 
    <th><button class="box"><font size="6"><%= link_to 'Salir', principal_index_path %></font></button></th>
</table>
 </header>
 <br><br><br><br><br><br><br><br><br><br><br><br>
 <div id="ayu" class="box"><p id="tex">Ayuda</p><div id="img"><%= image_tag('ayuda.png') %></div>
 </div>	
 <div id="pe" class="box"></div>
 <section id="cuerpo" class="box">
 	<div id="colum1" class="box"></div>
 	<div id="colum2" class="box"></div>
 	<div id="te"><p>Uso del EP</p></div>
 	<div id="itm"><p>·Item:1</p></div>
 	<div id="itme"><p>·Item:2</p></div>
 	<div id="item"><p>·Item:3</p></div>
 	<div id="iteem"><p>·Item:4</p></div>
 	 <div id="s"><p>Soluciones a Insidentes</p></div>
 	<div id="o"><p>·Item:1</p></div>
 	<div id="l"><p>·Item:2</p></div>
 	<div id="u"><p>·Item:3</p></div>
 	<div id="c"><p>·Item:4</p></div>
    	</section>

    	<br>
    	<br>
    	<br>
    	<br>
    	<br>
<footer class="box">
<p>HECHO POR ADSI</p>
</footer>